<div class="content">
    <h1>Todo example</h1>
    <h2>MVC architecture</h2>

    <md-card class="add-item">
        <md-card-header>
            <md-card-title>Add a new Item</md-card-title>
        </md-card-header>
        <md-input-container>
            <input mdInput placeholder="Todo Beschreibung" #description>
        </md-input-container>
        <button md-button (click)="onAdd(description.value)">Add</button>
    </md-card>

    <div class="flex">
      <todo-list [todoList]="itemsOpen"
                 [title]="'Todo'"
                 (checkedTodo)="onChecked($event)">
      </todo-list>

      <todo-list [todoList]="itemsDone"
                 [title]="'Done'"
                 [showReset]="true"
                 (resetDone)="onReset()"
                 (checkedTodo)="onChecked($event)">
      </todo-list>
    </div>
</div>
